.cartSection{
    width: 100%;
    height: auto;
    min-height: 550px;
    background-color: #eaeded;
    padding-top: 1rem;
    overflow:auto;
}
.cartContainer{
    margin: auto;
}

.cartBoxContainer {
    width: 70%;
    height: auto;
    background-color: #ffffff;
    margin-left: 1rem;
    float: left;
    margin-bottom: 100px;
}
.cartBox {
    width: 100%;
    height: auto;
}
.checkoutBox {
    width: 300px;
    height: 175px;
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    right: 2%;
}

.shoppingCartText{
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    margin-top: 1rem;
    margin-left: 1rem;
}
.CartBoxPriceTitleText{
    font-size: 14px;
    line-height: 20px;
    color: #565959;
    margin-left: 950px;
}
.cartTitleHr{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #dddddd;
}
.cartImageDiv{
    margin: 0;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
}
.cartImage{
    max-width: 200px;
    max-height: 200px;
}
.cartContentBox {
    margin-left: 2%;
    width: 80%;
}
.cartProductTitleDiv {
    width: 100%;
    margin-top: 1%;
}
.cartProductTitle{
    font-size: 20px;
    font-weight: 400;
}
.cartStockDiv{
    font-size: 12px;
    line-height: 16px;
    margin-top: 1rem;
    color: #007600;
}
.cartQtyBtnDiv{
    width: 6rem;
    float: left;
}
.cartBtnQty{
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #e6e6e6;
    margin-top: 2rem;
    cursor: pointer;
}
.cartSelectBtnQty{
    border: none;
    outline: none;
    background-color: #e6e6e6;
}
.cartBtnText{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cartDeleteDiv{
    margin-top: 40px;
}
.cartDeleteTextMark{
    font-size: 12px;
    line-height: 16px;
    color: darkgray;
}
.cartDeleteText{
    font-size: 12px;
    line-height: 16px;
    color: #047188;
    padding-left: 1rem;
    cursor: pointer;
}
.cartDeleteText:hover{
    text-decoration: underline;
}
.cartProductPriceDiv {
    text-align: right;
    width: 140px;
    height: 50px;
    margin-left: 70%;
    margin-top: -9rem;
}
.cartProductPrice {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    position: absolute;
    right: 31%;
    font-family: sans-serif;
}
.subTotalCartDiv{
    width: 100%;
    height: 60px;
    text-align: right;
}
.cartBottomHr{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 10rem;
    background-color: #dddddd;
}
.subTotalCartText{
    margin-right: 1rem;
    margin-top: 1rem;
}
.cartSubTotalText{
    font-size: 18px;
    line-height: 24px;
}
.cartSubTotalPrice{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: sans-serif;
}
.subTotalText{
    padding-top: 2rem;
}
.checkOutSubTotalText{
    font-size: 18px;
    line-height: 24px;
}
.checkOutSubTotalPrice{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: sans-serif;
}
.checkOutBtn {
    width: 258px;
    height: 30px;
    margin-top: 2rem;
    background-color: #ffd93c;
    border-color: #FCD200;
    border-width: 0.5px;
    border-radius: 10px;
    cursor: pointer;
}
.checkOutBtn:hover{
    background-color: #FCD200;
}
.emptyCartDiv{
    background-color: #fff;
    width: 60%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.emptyCart{
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.emptyCartContentText{
    padding-top: 1rem;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #0F1111;
}
.emptyCartShoppingLink{
    text-align: end;
    padding-top: 3rem;
}
.goShoppingLink{
    color: #15788b;
}
.goShoppingLink:hover{
    text-decoration: underline;
    color: #C7511F;   
}

.CartBoxPriceTitleText {
    margin-left: 94%;
}



@media only screen and (max-width: 650px){
    .checkoutBox {
        width: 200px;
        height: 100px;
        margin-top: 1%;
        border: solid;
    }

    .checkOutBtn {
        width: 200px;
        height: 30px;
        margin-top: 1px;
        border-width: 0.5px;
        border-radius: 5%px;
        cursor: pointer;
    }

    .cartProductTitle {
        margin-right: 14%;
    }

    .checkoutBox {
        position: fixed;
        right: 2%;
        bottom: 21%;
        z-index: 9999;
    }

    .CartBoxPriceTitleText {
        margin-left: 90%;
    }

    .cartProductPrice {
        left: 64%;
    }

    .cartSection {
        background-color: white;
    }
}

@media only screen and (max-width: 400px){
    .CartBoxPriceTitleText {
        margin-left: 94%;
    }

    .cartImageDiv {
        margin: 0;
        width: 200px;
        height: 200px;
        margin-right: 20px;
        float: left;
    }

    .CartBoxPriceTitleText {
        margin-left: 85%;
    }

    .cartProductPrice {
        left: 62%;
    }
}
@media only screen and (min-width: 650px){
    .cartProductTitle {
        margin-right: 55px;
    }
    .checkOutBtn {
        width: 100%;
    }
}

@media only screen and (min-width: 650px){
    .checkOutBtn {
        max-width: 66%;
        min-height: 50px;
    }

    .checkoutBox {
        max-width: 25%;
    }
}


